



/* body styles */
body{
 margin: 0;
 padding: 0;
}
/* main styles */
main{
    width: 1140px;
    margin:0 auto  ;
}

/* navigation section styles */

.nav-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px auto;
    height:151px;
    width: 1140px;
    
}

.nav-logo{

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-size: 34px;
    color:#4E47FF;
  
}

.nav-signup{
    width: 132px;
    height: 48px;
    color: #ffff;
    background-color:#4E47FF;
    border: none;
    border-radius: 10px;

}
/* banner section */
.banner{
    background-image: url('../Assets/Hero-bg.png');
    width: 100%;
    height: 698px;

}
/* raleway font */
.header-description-heading,.header-description-button,.nav-signup,.section-one-container h3,.section-one-description p{
    

    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  
}

.header-description-heading{
    font-size: 65px;
    font-weight: bold;
    color: #252432;
    text-align: center;
    
  
}

.header-description{
    width: 905px;
    height: 237px;
    margin: 158px auto;

}

.header-description-button{
    font-size: 16px;
    font-weight: bold;
    color: #ffff;
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
    width: 174px;
    height: 48px;
    display: block;
    margin: 37px auto 0;
}
/* main first section */
.section-one-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 116px;
    
}

.section-one-container h3{
    color: #252432;
    font-size: 42px;
    font-weight: bold;
}


.section-one-description{
    width: 517px;
    height: 203px;
    margin-bottom: 80px;
    }
.section-one-description p{
    font-size: 24px;
    color: #252432;
    
}
.section-one-description button{
    width: 229px;
    height: 48px;
    color: #ffff;
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
    
}
.section-one-container img{
    width: 403px;
    height: 328px;
    border-radius: 48px;
}